/* Reset Browser */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Inizio header */

#header {
    background-color: #4ea0ff;
    background-image:url(../img/pattern.png) ; 
    width: 100%;
    background-size: 22%;

}

#logo {
    width: 100%;
 
}

#booleaner {
    margin: 20px 0px 0px 10px;
    width: 15%;

}

/* Fine Header */

/* Inizio Main */

/* Main Titolo */

main {
    margin: 10px 0px 0px 10px;
}

#colorspan {
    color: #4ea0ff;
}

#ptitolo {
    color: grey;
}

/* Main Foto  */

figcaption {
    font-size: 12px;
}

/* Main Testo */